@inherits CandyGridChildComponent
@if (IsVisible)
{
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="search" class="form-control" @bind="SearchText" placeholder="@Placeholder" @oninput="OnSearchInput">
    </div>
}