@if (Parent.Columns.Any(c => c.IsSearchable))
{
    <div class="input-group input-group-sm">
        <div class="input-group-prepend">
            <span class="input-group-text"><i class="fas fa-search"></i></span>
        </div>
        <input type="search" class="form-control" placeholder="@Placeholder" @oninput="OnSearchInput">
    </div>
}

@code {
    [CascadingParameter(Name = nameof(Parent))]
    protected CandyGrid Parent { get; set; }

    [Parameter]
    public string Placeholder { get; set; } = "search . . .";

    private void OnSearchInput(ChangeEventArgs e)
    {
        var searchFilter = Parent.SearchFilter;
        var searchInput = e.Value as string ?? string.Empty;
        searchFilter.Text = searchInput;

        if (searchInput.Length > 2)
        {
            searchFilter.Operator = CompareOperators.Auto;
            Parent.QueueDataUpdate();
            return;
        }

        if (searchFilter.Operator != CompareOperators.None)
        {
            searchFilter.Operator = CompareOperators.None;
            Parent.QueueDataUpdate();
        }
    }
}
