<td @attributes="Attributes.Dictionary">
    @if (Column.DataTemplate != null)
    {
        @Column.DataTemplate(DataItem)
    }
    else
    {
        <div class="@Column.CssClass">
            @{
                var showButtonGroup = Column.OnDeleteButtonClick != null ||
                    Column.OnDetailsButtonClick != null ||
                    Column.OnEditButtonClick != null;
            }

            @if (showButtonGroup)
            {
                <div class="btn-group btn-group-sm candygrid-btn-group-sm mr-2 float-left"
                     @onclick:stopPropagation="true"
                     @ondblclick:stopPropagation="true">

                    @if (Column.OnDetailsButtonClick != null)
                    {
                        <button class="btn btn-info" type="button" title="Details"
                                @onclick="e => RaiseOnRowButtonClick(e, GridButtonEventType.DetailsButtonClick)">
                            <i class="fas fa-ellipsis-h"></i>
                        </button>
                    }

                    @if (Column.OnEditButtonClick != null)
                    {
                        <button class="btn btn-warning" type="button" title="Edit"
                                @onclick="e => RaiseOnRowButtonClick(e, GridButtonEventType.EditButtonClick)">
                            <i class="fas fa-pen"></i>
                        </button>
                    }

                    @if (Column.OnDeleteButtonClick != null)
                    {
                        <button class="btn btn-danger " type="button" title="Delete"
                                @onclick="e => RaiseOnRowButtonClick(e, GridButtonEventType.DeleteButtonClick)">
                            <i class="fas fa-times"></i>
                        </button>
                    }
                </div>
            }

            @if (!string.IsNullOrWhiteSpace(Column.CheckedProperty))
            {
                <label class="custom-control custom-checkbox mb-0 float-left mr-1"
                       @onclick:stopPropagation="true"
                       @ondblclick:stopPropagation="true">
                    <input type="checkbox" class="custom-control-input" @bind="IsChecked" />
                    <span class="custom-control-label">@Column.GetFormattedValue(DataItem)</span>
                </label>
            }
            else
            {
                <div class="float-left">@Column.GetFormattedValue(DataItem)</div>
            }
        </div>
    }
</td>