@inherits CandyComponentBase

<div class="candymodal-container @(IsVisible ? "candymodal-active" : string.Empty)">

    <div class="candymodal-overlay" @onclick="ModalService.CloseModalDialog"></div>

    <div class="modal-dialog modal-lg candymodal-content" style="min-width: 800px;" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">@Title</h5>
                <button type="button" class="close" aria-label="Close" @onclick="ModalService.CloseModalDialog">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                @Content
            </div>
        </div>
    </div>
</div>