@inherits CandyGridChildComponent
<div class="form-group row mt-0 mb-0 small">
    <label class="col-sm-4 col-form-label text-right text-nowrap">@Label</label>
    <div class="col-sm-8">
        <select class="custom-select form-control-sm custom-select-sm" @bind="PageSize">
            @foreach (var option in PageSizeOptions)
            {
                <option value="@option.Key">@option.Value</option>
            }
        </select>
    </div>
</div>