@if (ThemeManager != null)
{
    <form class="form-inline my-2 my-lg-0 input-group-sm" @onsubmit:preventDefault="true">
        <select class="form-select" @onchange="async (val) => await ThemeManager.ApplyThemeAsync(val.Value as string)">
            @foreach (var themeName in ThemeManager.ThemeNames)
            {
                <option value="@themeName" selected="@(themeName == ThemeManager.CurrentThemeName ? "selected" : null)">@themeName</option>
            }
        </select>
    </form>
}

@code {
    [CascadingParameter(Name = nameof(ThemeManager))]
    public CandyThemeManager ThemeManager { get; set; }
}

