div.candytab-pane.nav-tabs {
    border-left: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    border-bottom: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    border-right: var(--bs-nav-tabs-border-width) solid var(--bs-nav-tabs-border-color);
    border-bottom-left-radius: var(--bs-nav-tabs-border-radius);
    border-bottom-right-radius: var(--bs-nav-tabs-border-radius);
}
