.candygrid-column-header-filter {
    display: none;
}

.candygrid-column-header-button {
    padding: 0 2px;
    font-size: smaller;
}

.candygrid-column-sortable > a {
    margin-right: 6px;
}

.candygrid-table {
    border-radius: 0.25rem;
    font-size: smaller;
}

    .candygrid-table table {
        margin-bottom: 0;
    }

.candygrid-column-header .candygrid-dropdown-menu {
    position: relative;
    left: 0;
    top: 0;
    margin-right: 0;
    margin-top: 0px;
    margin-left: -95px;
    font-size: small;
    padding: 0;
    width: 200px;
}

.candygrid-dropdown-menu .popover-header {
    font-size: small;
}

.row > div.align-self-center {
    margin-top: 2px;
    margin-bottom: 2px;
}

.candygrid-btn-group-sm {
    line-height: 1.5rem;
    vertical-align: middle;
}

    .candygrid-btn-group-sm .btn {
        padding: 2px;
        font-size: smaller;
        min-width: 1.5rem;
    }

.candygrid-cell {
    line-height: 1.5rem;
    vertical-align: top;
    min-height: 1.5rem;
}

    .candygrid-cell .custom-control-label::before {
        margin-top: -4px;
    }

    .candygrid-cell .custom-control-label::after {
        margin-top: -4px;
    }

    .candygrid-cell .custom-control-label {
        vertical-align: top;
        cursor: pointer;
        line-height: inherit;
    }
